_site
.DS_Store
*.sublime-project
*.sublime-workspace
codekit-config.json
node_modules
_asset_bundler_cache
.sass-cache
.jekyll-metadata
portfolio/website_3/example.html
portfolio/website_3/example_files/1_1.html
